.main {
    background-image: none;
    background: transparent;
}

.overlay {
    height: 100lvh;
    min-width: 100%;
    position: fixed;
    background-color: #3d3d3d;
    z-index: 999;
}

.background {
    background-image: url(/images/background-img.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100lvh;
    min-width: 100%;
    position: fixed;
    z-index: -1;
}